<html>
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <!-- Custom CSS -->
  <style>
    html {
      position: relative;
      min-height: 100%;
    }

    body {
      padding-top: 70px;
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      line-height: 60px; /* Vertically center the text there */
      background-color: #f5f5f5;
    }

    body > .container {
      padding: 60px 15px 0;
    }

    footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }

    code {
      font-size: 80%;
    }
  </style>

  <body>
    <!-- Header -->
    {% include 'header.html' %}
    <div class="container">
      <div>
        {% for list in data %}
          <div class="card">
            <div class="card-body">
              {% for key,value in list.items() %}
                <b>{{key}}</b>: {{value}}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <br>
      </div>

      <h1>Basic Queries</h1>
      <!-- Get Businesses -->
      <h5>Find businesses</h5>
      <form method="POST" action="/get_business">
        <p>
          business_id: <input type="text" name="business_id">
          name: <input type="text" name="name">
          address: <input type="text" name="address">
          city: <input type="text" name="city">
          state: <input type="text" name="state">
          <input type="submit" value="Search">
        </p>
      </form>

      <!-- Get Users -->
      <h5>Find users</h5>
      <form method="POST" action="/get_yelp_user">
        <p>
          user_id: <input type="text" name="user_id">
          name: <input type="text" name="name">
          <input type="submit" value="Search">
        </p>
      </form>

      <!-- Get Reviews -->
      <h5>Find reviews</h5>
      <form method="POST" action="/get_reviews">
        <p>
          review_id: <input type="text" name="review_id">
          business_id: <input type="text" name="business_id">
          user_id: <input type="text" name="user_id">
          <input type="submit" value="Search">
        </p>
      </form>

      <h1>Complex Queries</h1>
      <h5>Sometimes businesses that are busy tend to be a good sign that it
      must be good. Find the name, address and photos (if any) of businesses
      that have at least X total checkins and have an average rating of at
      least Y. (i.e. 100 and 3) </h5>
      <form method="POST" action="/get_busy_business">
        <p>
          checkins: <input type="text" name="checkins">
          ratings: <input type="text" name="ratings">
          <input type="submit" value="Search">
        </p>
      </form>

      <h5>The best way to explore businesses from Yelp is to get advice from
      your friends! Here, we want to find all written tips (tips are like
      written reviews, except that they are shorter) given to businesses
      written by your friends (assume you are user_id = X), plus the name
      of the business and the name of your friends. (i.e. 1 to 25)</h5>
      <form method="POST" action="/get_friend_tips">
        <p>
          user_id: <input type="text" name="user_id">
          <input type="submit" value="Search">
        </p>
      </form>

      <h5>Find user_ids and names of people who have written reviews of
      businesses in any city X. (i.e. Phoenix, Las Vegas)</h5>
      <form method="POST" action="/get_users_city">
        <p>
          city: <input type="text" name="city">
          <input type="submit" value="Search">
        </p>
      </form>

      <h5>If you are looking for a new restaurant you might have look on what
      your friends tried but you don't have tried yet. The following query
      makes you able to look at all the business your friends reviewed but you
      have not reviewed yet. (Here we suppose to be user_id = X) (i.e. 1 to 25)</h5>
      <form method="POST" action="/get_friend_reviewed">
        <p>
          user_id: <input type="text" name="user_id">
          <input type="submit" value="Search">
        </p>
      </form>

      <h5>We are planing a trip in a city X thus we want to
      check all useful reviews of city X businesses. (i.e. Las Vegas)</h5>
      <form method="POST" action="/get_visit_city">
        <p>
          city: <input type="text" name="city">
          <input type="submit" value="Search">
        </p>
      </form>

      <h5>We are a business and we are interested by people who enjoyed our
      restaurant more than the average. With this query we can check name of
      reviewers that preferred my business (business_id = X) more than the average.
      (i.e. 1 to 25)
      </h5>
      <form method="POST" action="/get_users_enjoyed">
        <p>
          business_id: <input type="text" name="business_id">
          <input type="submit" value="Search">
        </p>
      </form>

      <h1>Insert/Update New Data</h1>
      <h5>Write a review for a business.</h5>
      <form method="POST" action="/insert_reviews">
        <p>
          business_id: <input type="text" name="business_id">
          user_id: <input type="text" name="user_id">
          review_date: <input type="text" name="review_date">
          stars: <input type="text" name="stars">
          review_text: <input type="text" name="review_text">
          useful_count: <input type="text" name="useful_count">
          <input type="submit" value="Insert">
        </p>
      </form>

      <h5>Write a tip for a business.</h5>
      <form method="POST" action="/insert_tips">
        <p>
          business_id: <input type="text" name="business_id">
          user_id: <input type="text" name="user_id">
          compliment_count: <input type="text" name="compliment_count">
          tip_date: <input type="text" name="tip_date">
          tip_text: <input type="text" name="tip_text">
          <input type="submit" value="Insert">
        </p>
      </form>

      <h5>Add friends! First check if friend one is friends with friend two;
      and vice versa. If not yet, then add friendship and return relationship.</h5>
      <form method="POST" action="/insert_friends">
        <p>
          user_one_id: <input type="text" name="user_one_id">
          user_two_id: <input type="text" name="user_two_id">
          <input type="submit" value="Insert">
        </p>
      </form>

      <h5>Checkin a business.</h5>
      <form method="POST" action="/insert_checkins">
        <p>
          business_id: <input type="text" name="business_id">
          checkin_date: <input type="text" name="checkin_date">
          <input type="submit" value="Insert">
        </p>
      </form>

      <h5>Upvote reviews if they are useful.</h5>
      <form method="POST" action="/update_reviews_useful">
        <p>
          review_id: <input type="text" name="review_id">
          <input type="submit" value="Insert">
        </p>
      </form>
      <!-- <h5>Upvote reviews if they are useful:</h5>-->
    </div>
  <!-- Footer -->
  {% include 'footer.html' %}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
